# Token da API do Airtable
tokenAPI=SUA_CHAVE_API_AQUI

# Credenciais do Kaggle
KAGGLE_EMAIL=SEU_EMAIL_KAGGLE_AQUI
KAGGLE_PASSWORD=SUA_SENHA_KAGGLE_AQUI

# Caminho para a pasta onde os arquivos serão baixados e processados
DOWNLOAD_PATH="C:/Caminho/Para/Sua/Pasta/Download"
